<!doctype html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
    <title>Task List App - VueLab</title>

	<link href="geekchase_2017.ico" type="image/x-icon" rel="shortcut icon" />
	<!-- For Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> 

    <style>
        .removed label {
           text-decoration: line-through;
        }
    </style>    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

 <body>

     <div id='app' class="container">
        <h3>{{title}}</h3>

        <div class="input-group">
            <input v-model='new_item' @keyup.enter='addItem' placeholder="add shopping lit item" type="text" class="form-control">
            <span class="input-group-btn"><button @click='addItem' class="btn btn-default" type="button">Add New</button></span>
        </div>    
        
        <ul>
          <li v-for="item in items" :class="{ 'removed': item.checked }">
            <div class="checkbox">
                <label>
                <input type="checkbox" v-model="item.checked"> {{ item.text }}
                </label>
            </div>
           </li>
        </ul>    

        <div class="footer">
            <hr />
            <em>Change the task list title here:</em>
            <input v-model='title' />
        </div>    
     </div>       
  
    <footer  class="bs-docs-footer footerStyle">	
            <div class="container">
                <hr />
            
                <ul class="bs-docs-footer-links muted">
                <li>当前版本： v1.0.0</li>
                <li>维护人：沈扬</li>
                <li>Since 2017</i>	
                </ul>
            </div>	
    </footer>


    <script src="https://unpkg.com/vue@2.2.6/dist/vue.min.js"></script>    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- For Bootstrap -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
    
    <script>
        var vue_data = {
            title:'My Task List',
            items:[{text: 'learn Vue', checked: true}, {text: 'Learn Python', checked: false}],
            new_item:''            
        };

        //Vue application starts with the new Vue keyword
        new Vue({
            el:'#app',//point to the affected element
            
            data:vue_data, //data argument contains the objects that are being used inside the markup using double curly brankets({{}})

            methods:{

                addItem:function(){
                    var item_text;
                    //All the data properties objects are accessible in the method section via keyword 'this' 
                    item_text = this.new_item.trim();
                    if(item_text){
                        this.items.push({text:item_text, checked:false});
                        this.new_item = '';
                    }
                }

            }
        });
    </script>    

	</body>
</html>